<div class="alert alert-danger alert-dismissible fade show"
     role="alert">
  <strong>
    Accès interdit
  </strong>
  Vous ne possédez pas les privilèges requis pour accéder à cette page.
  <a routerLink="/">
    <button type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </a>
</div>
