<form (submit)="redirectToRental()"
      class="form-inline">
  <div class="form-group mb-1 col-2">
    <app-make-autocomplete (makeChanged)="makeChanged($event)">
    </app-make-autocomplete>
  </div>
  <div class="form-group mb-1 col-2">
    <app-model-autocomplete (modelChanged)="modelChanged($event)">
    </app-model-autocomplete>
  </div>
  <div class="form-group mb-1">
    <label for="pickupDate"
           class="col-3"
           [translate]="'common.fields.pickupDate'">
    </label>
    <input [(ngModel)]="search.rentalPickupDate"
           type="date"
           min="{{minDate | date:'yyyy-MM-dd'}}"
           class="form-control form-control-sm col-3"
           id="pickupDate"
           name="pickupDate">
    <label for="duration"
           class="col-3"
           [translate]="'common.fields.duration'">
    </label>
    <input [(ngModel)]="search.rentalNumberOfDay"
           type="number"
           min="1"
           step="1"
           class="form-control form-control-sm col-1"
           id="duration"
           name="duration">
  </div>
  <div class="form-group mb-1 float-right d-inline-block">
    <button type="submit"
            class="btn btn-success btn-sm"
            [translate]="'search.action'">
    </button>
  </div>
</form>
