<div class="card">
  <div class="card-body">
    <h1 class="card-title">
      Bienvenue sur eMove !
    </h1>
    <p class="card-text">
      Réservez un véhicule électrique dans la minute.
    </p>
  </div>
</div>
