<ul class="list-group">
  <li *ngFor="let customer of customers"
      class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="col-6 float-left">
      <div class="d-block">
        Id : {{customer.id}}
      </div>
      <div class="d-block">
        Adresse email : {{customer.emailAddress}}
      </div>
      <div class="d-block">
        Date de naissance : {{customer.birthDate}}
      </div>
    </div>
    <div class="col-1 float-right input-group">
      <a class="btn btn-success"
         routerLink="/client/{{customer.id}}">
        Détails
      </a>
      <input class="form-control"
             type="checkbox"
             name="customer{{customer.id}}Checkbox"
             id="customer{{customer.id}}Checkbox"
             (change)="onCheck($event, customer.id)">
    </div>
  </li>
</ul>
<div *ngIf="selectedIds.length != 0"
     class="fixed-bottom"
     style="height: 110px;">
  <nav aria-label="breadcrumb">
    <button class="btn btn-danger"
            data-toggle="modal"
            data-target="#customerDeletionConfirm">
      Supprimer
    </button>
  </nav>
</div>
<div id="customerDeletionConfirm"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Confirmation de suppression
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{selectedIds.length}} élément(s) sélectionné(s)
        </p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="deleteCustomers()">
          Validez
        </button>
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Annulez
        </button>
      </div>
    </div>
  </div>
</div>
